  
.like {
  color: red;
  font-size: 2em;
  position: absolute; 
  opacity: 0.8;
  top: 4%; 
  left: 3%; 
  cursor: pointer;

}

.like-no {
  color: red;
  font-size: 2em;
  position: absolute; 
  opacity: 0.5;
  top: 4%; 
  left: 3%; 
  cursor: pointer;

}
